.App {
  text-align: center;
  background-color: #f4fbff;
}

.formdiv {
  text-align: center;
  align-items: center;
  height: 550px;
  width: 700px;
  border: 2px black solid;
  padding: auto;
  margin-left: 300px;
  margin-top: 10px;
  background-color: #f4fbff;
}
label {
  margin-right: 10px;
}
input {
  width: 250px;
  height: 20px;
  margin-bottom: 10px;
  border-radius: 2px;
  border: black solid 1px;
}
select {
  width: 255px;
  height: 22px;
  margin-bottom: 10px;
  border-radius: 2px;
  border: black solid 1px;
  margin-left: 105px;
}
#dropstate {
  width: 255px;
  height: 22px;
  margin-bottom: 10px;
  border-radius: 2px;
  border: black solid 1px;
  margin-left: 95px;
}
button {
  cursor: pointer;
  width: 30%;
}
p {
  margin-top: -10px;
  margin-bottom: -10px;
  color: red;
  margin-left: 40px;
  margin-right: 40px;
  font-size: 12px;
}
